<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a673">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.673">
        <activity
            android:name=".ui.Home.Home"
            android:exported="true"
            android:label="@string/home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SignIn.SignIn"
            android:exported="false"
            android:label="@string/action_sign_in"/>
        <activity
            android:name=".ui.Login.Login"
            android:exported="false"
            android:label="@string/action_logn_in"/>
    </application>

</manifest>